.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
}

<<<<<<< HEAD
#chechout {
=======
#chechout { 
>>>>>>> cd7a5ddff68ff288e2cc7fa1f700f5a33b895e1a
    padding-top: 20px;
}

.img-size {
    width: 100%;
    height: 250px;
}